body {
    font-family: "Lucida Grande";
    background-color: Cyan;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-large {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px
}

